@model IEnumerable<Product>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Use modal-lg class to make the modal larger -->
        <div class="modal-content">
            <div class="modal-body" style="margin-left:5%; margin-right:5%;margin-top:3%">
                <div class="input-group mb-3">
                    <input id="search" type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button style="border-radius:2px; border-color:black; color:black" class="btn btn-outline-secondary" type="button">Search</button>
                    </div>
                </div>
                <ul>
                    @foreach (var item in Model)
                    {
                            <a asp-action="Details" asp-route-productid="@item.Id" class="Search" style="display:flex; margin-bottom:4%; margin-left:3%; height:100px">
                                <div style="width: 50%">
                                    <img src="@item.ImageUrl" style="width:50%; margin-top:-5% ">
                                </div>
                                <div style="margin-top:4%; margin-left:-10%">
                                <h5>@item.Name - @item.Brand.Name</h5>
                                    <h5>@item.Collection.Name</h5>
                                </div>
                            </a>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    (function () {
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var query = $(this).val().toLowerCase();

                // Check if the input is empty or contains only spaces
                if (query.trim() === "" || query === " ") {
                    // If the input is empty or just contains a space, do nothing
                    $(".Search").hide();
                } else {
                    var words = query.split(' ');

                    var $searchResults = $(".Search").filter(function () {
                        var itemText = $(this).text().toLowerCase();

                        // Check if all words in the query are present in the item's text
                        return words.every(function (word) {
                            return itemText.indexOf(word) > -1;
                        });
                    });

                    // Hide all results first
                    $(".Search").hide();

                    // Display the first 4 filtered results
                    $searchResults.slice(0, 4).show();
                }
            });
        });
    })();

</script>


