@model ShoppingCart

<link rel="stylesheet" href="~/css/Details.css" />

<input hidden asp-for="ProductId" />
<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container" style="padding-top:20px ">
            <div class="block-content" style="width: 1316px; margin-bottom:111px">
                <div class="product-info" style="padding-bottom: 0px;height: 483px;width: 1262px;padding-left: 0px;">
                    <div class="row" style="height: 490px;">
                        <div class="col-md-6" style="padding-top: 0px;margin-bottom: 56px;padding-bottom: 0px;padding-right: 0px;height: 556px;width: 700px;padding-left: 0px;margin-left: 68px;">
                            <div class="gallery" style="padding: 0; height: 547px; width: 798px; background: rgb(255,255,255);">
                                <div id="product-preview" class="vanilla-zoom" style="padding: 0; height: 550px; width: 650px;">
                                    <div class="sidebar" style="height: 550px;">
                                        <img class="img-fluid d-block small-preview" src="@Model.Product.ImageUrl" style="margin-bottom: 15px;" />

                                        @foreach (var item in Model.Gallery)
                                        {
                                            <img class="img-fluid d-block small-preview" src="@item.URL" style="margin-bottom: 15px;" />
                                        }
                                    </div>

                                    <div class="zoomed-image" style="margin-left: 45px; margin-right:200px"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" style="width: 500px;height: 493px;">
                            <div class="info" style="width: 470px;">
                                <h1>@Model.Product.Name</h1>

                                <div class="price" style="padding-top: 0px;margin-bottom: 11px;">
                                    <p>@Model.Product.Brand.Name</p>
                                    <hr />
                                    <h3 style="font-weight:lighter;font-style:italic">"@Model.Product.Collection.Description"</h3>
                                    <h3>$@Model.Product.Price</h3>
                                </div>
                                <form method="post">
                                    <input hidden asp-for="ProductId" />
                                    <button class="btn btn-primary" type="submit" value="Add to Cart" asp-action="Details" style="background: rgb(60,61,67); width:100%; border:none">Add to Cart</button>
                                    <button class="btn btn-primary" @*type="submit" value="Add to Cart" asp-action="Details"*@ style="background: rgb(60,61,67); width:100%; margin-top:10px; border:none">Purchase Now</button>
                                </form>

                                <hr style="margin-top:20px; border-top: 2px solid black;" />
                                <button class="collapsible">Description</button>
                                <div class="content">
                                    <p>@Model.Product.Description</p>
                                </div>
                                <hr style="border-top: 2px solid black;" />
                                <button class="collapsible">Specification</button>
                                <div class="content">
                                    <p>@Model.Product.Specification</p>
                                </div>
                                <hr style="border-top: 2px solid black;" />
                                <button class="collapsible">Shipping</button>
                                <div class="content">
                                    <p>We offer free shipping Viet Nam wide on all orders over $100.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<h2>Click on the link below</h2>
@Html.ActionLink("Rate the product", "Rating", "Home", new {productid = Model.Product.Id}, new { target = "_blank" })
@*<form id="commentForm">
    <input hidden asp-for="ProductId" />
    <input hidden asp-for="ApplicationUserId" />
    <div class="form-group">
        <label>Write comment</label>
        <span class="text-warning float-right">
            <i class="ratingStar far fa-star" data-value="1"></i>
            <i class="ratingStar far fa-star" data-value="2"></i>
            <i class="ratingStar far fa-star" data-value="3"></i>
            <i class="ratingStar far fa-star" data-value="4"></i>
            <i class="ratingStar far fa-star" data-value="5"></i>
        </span>
        <input name="Rating" id="ratingValue" hidden/>
        <textarea class="form-control" name="Description" placeholder="Write your comment here"></textarea>
    </div>
    <button id="btnComment" type="button">Leave your comment</button>
</form>*@

<script>

    //$(".ratingStar").hover(function () {
    //    $(".ratingStar").addClass("far").removeClass("fas");

    //    $(this).addClass("fas").removeClass("far");
    //    $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
    //});

    //$(".ratingStar").click(function () {
    //    var starValue = $(this).attr("t")

    //    $("#ratingValue").val(starValue);
    //});

    //$(".btnComment").click(function () {
    //    $.ajax({
    //        url"@Url.Action("LeaveComment","Home")",
    //        type: "post",
    //        data: $("#commentForm").serialize()
    //    }).done(function (response){
    //        debugger;
    //        if(response.Succcess){
    //            window.location.reload();
    //        }
    //        else{
    //            alert("Failed")
    //        }
    //    }).fail(function(){
    //        alert("Comment failed")
    //    });
    //});


    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>