@model ShoppingCart
<link rel="stylesheet" href="~/css/Index.css" />
@{
    int averageRating = 0;
    double recommend = 0;
    for (int i = 0; i < Model.Review.Count(); i++)
    {
        averageRating += Model.Review[i].Rating;
        if (Model.Review[i].Rating > 3)
        {
            recommend += 1;
        }
    }
    averageRating = (int)Math.Ceiling((double)averageRating / Model.Review.Count());
    recommend = recommend / Model.Review.Count() * 100;
}
<style>
    .content {
        white-space: pre-line;
    }


</style>

<link rel="stylesheet" href="~/css/Details.css" />

<input hidden asp-for="ProductId" />
<main class="page product-page">
    <div style="margin-left: 5%; margin-top: 2%">
        <a>@Model.Product.Gender</a> - <a>@Model.Product.Brand.Name</a> - <a>@Model.Product.Category.Name</a> - <a>@Model.Product.Collection.Name</a>
    </div>
    <section class="clean-block clean-product dark">
        <div class="container" style="padding-top:2% ">
            <div class="block-content" >
                <div class="product-info" style="height: 350px">
                    <div class="row">
                        <div class="col-md-6" style="width: 700px;margin-left: 5%;">
                            <div class="gallery">
                                <div id="product-preview" class="vanilla-zoom" style="margin-left:5%">
                                    <div class="sidebar" style="height: 550px;">
                                        <img class="img-fluid d-block small-preview" src="@Model.Product.ImageUrl" style="margin-bottom: 15px;" />

                                        @foreach (var item in Model.Gallery)
                                        {
                                            <img class="img-fluid d-block small-preview" src="@item.URL" style="margin-bottom: 15px;" />
                                        }
                                    </div>

                                    <div class="zoomed-image" style="margin-left: 10%; margin-right: 20%;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" style="width: 500px;height: 493px;">
                            <div class="info" style="width: 470px;">
                                <h1 style="margin:0px">@Model.Product.Name</h1>
                                <span>$@Model.Product.Price</span>
                                <divstyle style="display: flex; justify-content: space-between;">
                                    <h4>@Model.Product.Brand.Name</h4>
                                    <span>
                                        @{
                                            var defaultStar = 5 - averageRating;
                                            @for (int i = 1; i <= averageRating; i++)
                                            {
                                                <i class="fas fa-star"></i>
                                            }
                                            @for (int i = 1; i <= defaultStar; i++)
                                            {
                                                <i class="far fa-star"></i>
                                            }
                                        }
                                        <span style="padding-left: 5px">@Model.Review.Count() Reviews</span>
                                    </span>
                            </div>
                            <hr />
                            <div class="price" style="margin-bottom: 11px;">
                                <p>@Model.Product.Collection.Name</p>
                                <span>"@Model.Product.Collection.Description"</span>
                            </div>
                            <form method="post">
                                <input hidden asp-for="ProductId" />
                                <input hidden asp-for="Count" value="1" />
                                <button class="btn btn-primary" type="submit" value="Add to Cart" asp-action="Details" style="background: rgb(60,61,67); width:100%; border:none">Add to Cart</button>
                                <button class="btn btn-primary" @*type="submit" value="Add to Cart" asp-action="Details"*@ style="background: rgb(60,61,67); width:100%; margin-top:10px; border:none">Purchase Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left:59%; width: 97%;">
                <hr style="margin-top:20px; border-top: 2px solid black;" />
                <button class="collapsible">Description</button>
                <div class="content">
                    <p>@Model.Product.Description</p>
                </div>
                <hr style="border-top: 2px solid black;" />
                <button class="collapsible">Specification</button>

                <div class="content">
                    <p>@Model.Product.Specification</p>
                </div>

                <hr style="border-top: 2px solid black;" />
                <button class="collapsible">Shipping</button>
                <div class="content" style="margin-bottom:100px">
                    <p>We offer free shipping Viet Nam wide on all orders over $100.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<hr />

<div style="margin-left:10%; margin-right:10%; margin-top:5%; margin-bottom:5%">
    <p style="font-size:2em; font-weight:lighter; margin-bottom:5%; text-align:center">You might also interest</p>
    <section class="section-products" style="padding-top:0px !important">
        <div class="row">
            @foreach (var Product in ViewBag.productList)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a asp-action="Details" asp-route-productid="@Product.Id" class="image">
                                <img class="pic-1" src="@Product.ImageUrl">
                                <img class="pic-2" src="@Product.SecondImage">
                            </a>
                            <a href="" class="product-like-icon"></a>
                            <ul class="product-links">
                                <li><a asp-action="Details" asp-route-productid="@Product.Id"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <h2 class="title" style="min-height:45px">@Product.Name</h2>
                            <h3 class="price">@Product.Brand.Name</h3>
                            <p class="price">$@Product.Price.ToString("0.00")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div style="text-align: center; margin-top: 5%;">
            <a href="" style="color: black;">See all <i class="bi bi-arrow-right"></i></a>
        </div>
    </section>
</div>
<hr />

<div class="container" style="display:flex; justify-content:space-between; margin-bottom:5%; margin-top:5%">
    <h2>Reviews</h2>
    <button class="btn btn-primary" style="background: rgb(60,61,67); ">@Html.ActionLink("Write a review", "Rating", "Home", new {productid = Model.Product.Id}, new { target = "_blank" , style = "color: white;" })</button>

</div>
@if (Model.Review.Count() > 0)
{
    <div class="product-info container">
        <div class="reviews" style="margin-bottom:60px">
            <div class="review-item" style="display:flex; border:1px solid; margin-top:20px; height:100px;">
                <div style="width:25%; border-right:1px solid; padding-left:20px; padding-top:20px">
                    <span>
                        @{
                            @for (int i = 1; i <= averageRating; i++)
                            {
                                <i class="fas fa-star"></i>
                            }
                            @for (int i = 1; i <= defaultStar; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                        }
                    </span>
                    <p>Based on @Model.Review.Count() reviews</p>
                </div>
                <div style="width:75%; margin: 20px">
                    <div class="rating" style="display: flex">
                        <p style="padding:10px; border:2px solid; background-color:rgb(60,61,67); color:white; font-size: 25px;margin-right:15px">@recommend%</p> <p style="padding-top:16px; ">of reviewers would recommend this product to a friend</p>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model.Review)
        {
            var defaultStars = 5 - item.Rating;
            <div class="reviews">
                <div class="review-item" style="display:flex; border:1px solid; margin-top:20px; min-height:180px">
                    <div style="width:25%; border-right:1px solid; padding-left:20px; padding-top:20px">
                        <h3>@item.ApplicationUser.FullName</h3>
                        <span class="text-muted">Verified buyer</span>
                        <p>
                            @item.Date.ToShortDateString()
                        </p>
                    </div>
                    <div style="width:75%; margin: 20px">
                        <div class="rating">
                            @for (int i = 1; i <= item.Rating; i++)
                            {
                                <i class="fas fa-star"></i>
                            }
                            @for (int i = 1; i <= defaultStars; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                        </div>
                        <h3 style="margin-top:10px;margin-bottom:10px">@item.Title</h3>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div style="text-align:center; margin-bottom:5%">
        <h4>There are no reviews yet.</h4>
    </div>
}


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
