<link rel="stylesheet" href="~/css/SideBar.css">
<div style="display: flex; flex-wrap: wrap">
    <div style="width:15%; background-color:#bcbcbc">
        <ul id="sidebar">
            <li><a asp-area="Admin" asp-controller="Manage" asp-action="Index"><i class="bi bi-house-fill"></i>Dashboard</a></li>
            <li><a asp-area="Admin" asp-controller="User" asp-action="Index"><i class="bi bi-people-fill"></i>User</a></li>
            <li><a asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="bi bi-box-fill"></i>Product</a></li>
            <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="bi bi-bookmark-fill"></i>Category</a></li>
            <li><a asp-area="Admin" asp-controller="Brand" asp-action="Index"><i class="bi bi-tags-fill"></i>Brand</a></li>
            <li><a asp-area="Admin" asp-controller="Collection" asp-action="Index"><i class="bi bi-collection-fill"></i>Collection</a></li>
        </ul>
    </div>
    <div id="wrapper" style="width:85%">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Earnings this month (@DateTime.Now.ToString("MMMM"))</span></div>
                                            @foreach (var item in ViewBag.IncomeMonth)
                                            {
                                                var price = (double)(item.GetType().GetProperty("Price").GetValue(item, null));
                                                <div class="text-dark fw-bold h5 mb-0">
                                                    <span>@price.00 $</span>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card shadow border-start-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Earnings this year (@DateTime.Now.Year.ToString())</span></div>
                                            @foreach (var item in ViewBag.IncomeYear)
                                            {
                                                var price = (double)(item.GetType().GetProperty("Price").GetValue(item, null));
                                                <div class="text-dark fw-bold h5 mb-0">
                                                    <span>@price.00 $</span>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Total Orders</span></div>
                                            <div class="text-dark fw-bold h5 mb-0">
                                                <span>@ViewBag.TotalOrder</span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Monthly income</h6>
                                </div>
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                                        <p style="margin-right: 10px;">Year:</p>
                                        <select id="ddlYear" class="form-control" style="width:20%; margin-left: 5%; border:groove;">
                                            <option value="2023">2023</option>
                                            <option value="2022">2022</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                        </select>
                                    </div>
                                    <div class="chart-area"><canvas id="myChart" height="320" style="display: block; width: 572px; height: 320px;" width="572"></canvas></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Revenue Sources</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area"><canvas id="myChart2" height="320" style="display: block; width: 257px; height: 320px;" width="257"></canvas></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <form style="margin: 3%">
            <h2 class="text-dark mb-4">All orders</h2>
            <table id="tblData" class="table table-bordered table-striped" style="width:100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Payment Type</th>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>
                </thead>
            </table>
        </form>
    </div>
</div>
<script src="~/js/order.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    var dt = new Date();
    GetReportList(dt.getFullYear());
    GetPayment();

    $('#ddlYear').on('change', function () {
        var year = $(this).val();

        GetReportList(year)
    });

    function GetReportList(year) {
        $.get('/Admin/Manage/GetReportByYear?year=' + year, function (resp) {

            RegisterChartProduct(resp);

        });
    }


    function RegisterChartProduct(result) {

        var resultLabel = [];
        var resultData = [];

        $.each(result, function (index, item) {
            resultLabel.push(item.orderMonth);
            resultData.push(item.price);
        })

        const ctx = document.getElementById('myChart');
        Chart.getChart(ctx)?.destroy();

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: resultLabel,
                datasets: [{
                    label: 'Total income',
                    data: resultData,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }


    function GetPayment() {
        $.get('/Admin/Manage/GetPaymentType', function (resp) {

            RegisterChartPayment(resp);

        });
    }

    function RegisterChartPayment(result) {

        var resultLabel = [];
        var resultData = [];

        $.each(result, function (index, item) {
            resultLabel.push(item.paymentType);
            resultData.push(item.paymentCount);
        })

        const ctx = document.getElementById('myChart2');

        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: resultLabel,
                datasets: [{
                    label: 'Total income',
                    data: resultData,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>
