@model RopinStore.Models.ViewModels.OrderVM
@using RopinStore.Utility

<form method="post">
	<input asp-for="Order.Id" hidden />
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class="container-row">
					<div class="col-12 d-none d-md-block col-md-6 pb-1">
						<h3><i class="fas fa-shopping-cart"></i> &nbsp;Order Summary</h3>
					</div>
				</div>
				
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-black" style="font-weight: bold; font-size:18px">Order Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">Name</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="Order.Name" type="text" class="form-control" />
										<span asp-validation-for="Order.Name" class="text-danger"></span>
									}
									else
									{
										<input asp-for="Order.Name" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Phone</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="Order.PhoneNumber" type="text" class="form-control" />
										<span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
									}
									else
									{
										<input asp-for="Order.PhoneNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Street</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="Order.Street" type="text" class="form-control" />
										<span asp-validation-for="Order.Street" class="text-danger"></span>
									}
									else
									{
										<input asp-for="Order.Street" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">City</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
										<input asp-for="Order.City" type="text" class="form-control" />
										<span asp-validation-for="Order.City" class="text-danger"></span>
									}
									else
									{
										<input asp-for="Order.City" readonly type="text" class="form-control" />
									}
								</div>
							</div>

							<div class="row my-1">
								<div class="col-3">Email</div>
								<div class="col-9">
									<input asp-for="Order.ApplicationUser.Email" disabled type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Order Date</div>
								<div class="col-9">
									<input value="@Model.Order.OrderDate.ToShortDateString()" type="text" class="form-control" disabled />
								</div>
							</div>

							@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
							{
								<div class="row my-1">
									<div class="col-3">Session ID</div>
									<div class="col-9">
										<input asp-for="Order.SessionId" type="text" disabled class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">Payment Type</div>
									<div class="col-9">
										<input asp-for="Order.PaymentType" type="text" disabled class="form-control" />
									</div>
								</div>
							}
							<input asp-action="UpdateOrderDetail" type="submit" class="btn btn-dark form-control my-1" style="color:whiteActiveBorder; margin-top: 5% !important" value="Update Order Details" />


						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-black" style="font-weight: bold; font-size:18px">Order Summary</span>
								<span class="text-black" style="font-weight: bold; font-size:18px">Status - @Model.Order.OrderStatus</span>
							</h4>

							<ul class="list-group mb-3">
								<li class="list-group-item d-flex justify-content-between p-2">
									<div class="row container">
										@foreach(var item in @Model.OrderDetail){
										<div class="col-10">
											<h6 class="my-0 text-dark" style="font-weight: bold;">@item.Product.Name</h6>
											<p class="text-muted"> @item.Price.ToString("c") x @item.Count</p><br />
										</div>
										<div class="col-2">
											<p class="text-success">@((item.Count * item.Price).ToString("c"))</p>
										</div>
											}
									</div>
								</li>

								<li class="list-group-item bg-dark">
									<div class="row container">
										<div class="col-10">
											<h4 class="my-0 text-white" style="font-weight: bold">Total </h4>
										</div>
										<div class="col-2">
											<h5 class="text-white">@Model.Order.TotalPrice.ToString("c")</h5>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
