@model RopinStore.Models.ViewModels.ShoppingCartVM
@using Microsoft.Extensions.Options
@inject IOptions<@RopinStore.Utility.StripeSettings> Stripe


<form method="post" id="frm" onsubmit="return validateForm()">
    <br />
    <input asp-for="Order.Email" class="form-control" hidden />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class=" row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart" style="margin-top:10px"></i> &nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info" style="color: rgb(60, 61, 67) !important; font-weight: bold;">Shipping Details:</span>
                                </h4>
                            </div>
                            <div class="group">
                                <label>Email</label>
                                <input readonly asp-for="Order.Email" class="form-control" name="email">
                            </div>
                            <div class="group">
                                <label>Name</label>
                                <input asp-for="Order.Name" class="form-control" name="name">
                            </div>
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label>Phone</label>
                                    <input asp-for="Order.PhoneNumber" class="form-control" name="phone">
                                </div>
                                <div class="form-group col-md-7">
                                    <label>Street</label>
                                    <input asp-for="Order.Street" class="form-control" name="street">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-5">
                                    <label for="inputAddress">City</label>
                                    <input asp-for="Order.City" class="form-control" name="city">
                                </div>
                                <div class="col-4">
                                    <label for="inputAddress">State</label>
                                    <input asp-for="Order.State" class="form-control" name="state">
                                </div>
                                <div class="col">
                                    <label for="inputAddress">Zip</label>
                                    <input asp-for="Order.ZipCode" class="form-control" name="zip">
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentType" id="flexRadioDefault1" value="VISA" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    VISA
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentType" id="flexRadioDefault2" value="COD">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Cash on Delivery (COD)
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info" style="color: rgb(60, 61, 67) !important; font-weight: bold;">Order Summary:</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var item in Model.ListCart)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@item.Product.Name</h6>
                                            <small class="text-muted">Quantity: @item.Count</small>
                                        </div>
                                        <span class="text-muted">@((item.Product.Price * item.Count).ToString("c")) </span>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info" style="color: rgb(60, 61, 67) !important; font-weight: bold;">Total (USD)</small>
                                    <strong class="text-info" style="color: rgb(60, 61, 67) !important; font-weight: bold;">@Model.Order.TotalPrice.ToString("c")</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color:maroon; font-size:14px;">
                            Estimate Arrival Date:
                            @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <button type="submit" value="Place Order" class="btn btn-primary form-control" style="background-color: rgb(60, 61, 67) !important; font-weight: bold;">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    function validateForm() {
        var nameInput = document.querySelector('input[name="name"]');
        var phoneInput = document.querySelector('input[name="phone"]');
        var cityInput = document.querySelector('input[name="city"]');
        var streetInput = document.querySelector('input[name="street"]');
        var stateInput = document.querySelector('input[name="state"]');
        var zipInput = document.querySelector('input[name="zip"]');

        if (!nameInput.value || !phoneInput.value || !cityInput.value || !streetInput.value || !stateInput.value || !zipInput.value) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please enter all necessary data',
            })
            return false;
        }
        return true;
    }

</script>